p {
  text-align: center;
  font-size: 35px;
  color: purple;
}
body {
  background-color: grey;
}
div1 {
  text-align: center;
  font-size: 35;
  color: purple;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
