p {
  text-align: center;
  font-size: 35px;
  margin-left: 200px;
  margin-right: 200px;
  color: purple;
}
body {
  background-color: grey;
}
body {
  text-align: center;
  font-size: 35;
  color: purple;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%
}
.body1 {
  margin-left: 200px;
  margin-right: 200px;
}
